* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: "Poppins", sans-serif;
}

body {
  background-color: var(--color-w);
  transition: background-color 0.3s ease-in-out;
}

body::-webkit-scrollbar {
  width: 12px; /* width of the entire scrollbar */
}

body::-webkit-scrollbar-track {
  background: var(--color-w1); /* color of the tracking area */
}

body::-webkit-scrollbar-thumb {
  background-color: var(--color-w6); /* color of the scroll thumb */
  border-radius: 20px; /* roundness of the scroll thumb */
  border: 3px solid var(--color-w1); /* creates padding around scroll thumb */
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

body {
  background-color: var(--color-w);
}

a,
li,
ul {
  text-decoration: none;
  list-style: none;
}

img {
  display: block;
  max-width: 100%;
}

[data-theme="dark"] .icon {
  filter: invert();
}

[data-theme="light"] {
  transition: 2s all;
}

[data-theme="dark"] {
  transition: 2s all;
}
