.header-bg {
  background-color: var(--color-w);
  box-shadow: var(--menu-border);
}

.header {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  padding-top: 10px;
  padding-bottom: 10px;
}

.fixed {
  position: fixed;
  z-index: 9999;
  bottom: 0;
  left: 0;
  right: 0;
}

@media (min-width: 768px) {
  .header a {
    display: inline-block;
    position: relative;
    color: var(--color-w3);
  }

  .header a:hover {
    color: var(--color-w7);
  }

  [data-theme="dark"] .header a {
    color: var(--color-w5);
  }

  [data-theme="dark"] .header a:hover {
    color: var(--color-w1);
  }

  .header-menu li:nth-child(6) a:after {
    height: 0px;
  }

  .header-menu a:after {
    content: "";
    display: block;
    height: 2px;
    width: 0px;
    border-radius: 3px;

    background: var(--line-menu-a);
    background: var(--line-menu-a-moz);
    background: var(--line-menu-a-webkit);

    transition: 0.4s;
    position: absolute;
  }

  .header-menu a:hover:after,
  .header-menu a.ativo::after {
    width: 100%;
  }
}

.container.header {
  justify-content: space-between;
}

.menu img {
  margin-left: 40px;
}

.menu {
  display: flex;
}

@media (max-width: 768px) {
  .header a {
    color: var(--color-w2);
  }
  [data-theme="dark"] .header a {
    color: var(--color-w6);
  }
}
