.projects-title {
  margin-bottom: 30px;
  padding-top: 30px;
}

.icon-projects {
  display: flex;
  justify-content: center;
  gap: 16px;
  max-width: 48px;
  margin-top: 10px;
  margin-bottom: 10px;
  filter: invert(100%);
}

@media (max-width: 1200px) {
  .icon-projects {
    margin: 0 auto;
    margin-top: 20px;
  }
  .slide .icon-projects img {
    margin-bottom: 0.5rem;
  }
}

.slide li .icon-projects img {
  box-shadow: rgba(0, 0, 0, 0.17) 0px -23px 25px 0px inset,
    rgba(0, 0, 0, 0.15) 0px -36px 30px 0px inset,
    rgba(0, 0, 0, 0.1) 0px -79px 40px 0px inset, rgba(0, 0, 0, 0.06) 0px 2px 1px,
    rgba(0, 0, 0, 0.09) 0px 4px 2px, rgba(0, 0, 0, 0.09) 0px 8px 4px,
    rgba(0, 0, 0, 0.09) 0px 16px 8px, rgba(0, 0, 0, 0.09) 0px 32px 16px;
  padding: 8px;
  border: 0.5px solid var(--arrow-w4);
  background-color: var(--color-b3);
  border-radius: 6px;
}

.icon-projects .i-aniArt {
  background-color: #a0f5f5 !important;
}

.icon-projects .i-surfCurse {
  background-color: rgba(255, 210, 68, 1) !important;
}

.icon-projects .i-drinkWater {
  background-color: rgba(260, 173, 68, 1) !important;
}

.projects {
  margin-top: 3rem;
  margin-bottom: 3rem;
  background-color: var(--color-w1);

  border-radius: 10px;
  box-shadow: var(--projects-boxshadow);
  border: 0.5px solid var(--color-b1);
}

.title.projects-title {
  color: var(--color-b6);
  margin-top: 0px;
}

[data-theme="dark"] .title.projects-title {
  color: var(--color-b3);
}

.line-2.title {
  font-size: 2.125rem;
  margin-left: 20px;
}

@media (min-width: 360px) {
  .line-2::after {
    content: "💼📊";
  }
}

@media (min-width: 1200px) {
  .line-2::before {
    z-index: 9999;
    position: absolute;
    left: -10px;
    top: 35px;
    content: "";
    background-color: var(--color-b2);
    width: 6px;
    height: 30px;
    border-radius: 10px;
  }
}

.slide {
  display: flex;
}

.wrap {
  overflow: hidden;
}

.slide li {
  flex-shrink: 0;
  width: 80vw;
  margin: 0 20px;
  padding-top: 1rem;
  padding-bottom: 1rem;
}

[data-control="slide"] {
  display: flex;
  justify-content: center;
  margin-top: 10px;
}

[data-control="slide"] li a {
  display: block;
  cursor: pointer;
  width: 12px;
  height: 12px;
  background: var(--color-b3);
  border-radius: 50%;
  overflow: hidden;
  text-indent: -999px;
  margin: 5px;
}

[data-control="slide"] li.active a,
[data-control="slide"] li a:hover {
  background: var(--color-w7);
}

.controls {
  display: flex;
  justify-content: center;
  margin-top: 20px;
  margin-bottom: 20px;
  flex-wrap: wrap;
}

.controls li {
  opacity: 0.6;
  transform: scale(0.6);
  width: 40px;
  height: 40px;
  border-radius: 50%;

  overflow: hidden;
  margin: 2px;
  box-shadow: var(--controls-boxshadow);
  transition: 0.3s;
}

.controls li.active {
  opacity: 1;
  transform: scale(1);
}

.arrow-nav {
  display: flex;
  justify-content: space-around;
  margin: 20px 0;
}

.arrow-nav button {
  cursor: pointer;
  border: none;
  margin: 2px;
  border-radius: 4px;
  color: var(--color-w);
  width: 40px;
  height: 40px;
  filter: invert(100);
  background: var(--arrow-bg) url(../img/arrow-icon.svg) center center no-repeat;
  border: var(--color-b1) solid 0.5px;
  transition: 0.6s all;
}

.arrow-nav button:hover {
  background-color: var(--color-w2);
  filter: invert(0);
}

[data-theme="dark"] .arrow-nav button {
  border: var(--color-b1) solid 0.5px;
  background-color: var(--color-b6);
  filter: invert(0);
}

[data-theme="dark"] .arrow-nav button:hover {
  border: var(--color-b1) solid 0.5px;
  background-color: var(--color-b6);
  filter: invert(100);
}

.arrow-nav button.prev {
  transform: rotate(-180deg);
}

.control-main {
  display: grid;
  justify-content: center;
  align-items: center;
  align-content: center;
  grid-template-columns: 80px 200px 80px;
  margin-bottom: 0.5rem;
}

@media (max-width: 600px) {
  .control-main {
    grid-template-columns: 70px 160px 70px;
  }
}

@media (max-width: 360px) {
  .control-main {
    grid-template-columns: 50px 160px 50px;
  }
}

.control-main div,
.control-main ul {
  padding: 12px;
  background-color: #f1f1f1;
}

[data-theme="dark"] .control-main div,
[data-theme="dark"] .control-main ul {
  background-color: #f1f1f1;
}

.control-main div:first-child {
  border-radius: 12px 0px 0px 12px;
}

.control-main div:last-child {
  border-radius: 0px 12px 12px 0px;
}

.control-main ul {
  border-radius: 0px;
}

.legenda {
  display: inline-block;
  margin: 0 auto;
  text-align: center;
  padding: 20px;
  margin-top: 1rem;
  border-radius: 20px;
}

.linkP {
  color: var(--color-w3);
  background-color: transparent;
  border: var(--color-b2) solid 1px;
}

[data-theme="dark"] .linkP {
  color: var(--color-w6);
}

.linkP:hover {
  color: var(--color-btn-linkP);
  background-color: var(--color-b3);
}

.demo {
  transition: 0.6s;
  color: var(--color-w1);
  background: var(--btn-demo-bg);
}

.demo:hover {
  color: var(--color-w1);
  background: var(--btn-demo-bg-hover);
}

.linkP {
  transition: 0.6s;
  margin-right: 10px;
}

@media (max-width: 1200px) {
  .projects {
    width: 90%;
    box-shadow: 2.5px 0px 0px rgba(128, 128, 128, 1),
      5px 0px 0px rgba(128, 128, 128, 0.7),
      7.5px 0px 0px rgba(128, 128, 128, 0.4),
      10px 0px 0px rgba(128, 128, 128, 0.1);
  }
}

@media (min-width: 1200px) {
  .wrap {
    width: 400px;
  }
  .slide li img {
    display: inline-block;
  }
}

@media (max-width: 476px) {
  .legenda {
    display: inline-block;
    font-size: 1rem;
    padding: 15px;
  }

  .linkP {
    margin-bottom: 1rem;
  }
  .demo {
    margin-bottom: 1rem;
  }
}

@media (max-width: 340px){
  .linkP{
    margin-right: 2px;
  }
}
