@import url(https://fonts.googleapis.com/css?family=Lato:100);
.hr {
  width: 100%;
  height: 1px;
  display: block;
  position: relative;
  margin-bottom: 0em;
  padding-bottom: 0em;
}
.hr:after,
.hr:before {
  content: "";
  position: absolute;
  width: 100%;
  height: 4px;
  bottom: 50%;
  left: 0;
}
.hr:before {
  background: var(--colors-separator-bg);
  background-size: 15px;
  background-position: center;
  z-index: 1;
}
.hr:after {
  transition: opacity 0.3s ease, -webkit-animation 0.3s ease;
  transition: opacity 0.3s ease, animation 0.3s ease;
  transition: opacity 0.3s ease, animation 0.3s ease,
    -webkit-animation 0.3s ease;
  background: var(--colors-separator);
  background-size: 200%;
  background-position: 0%;
  -webkit-animation: bar 15s linear infinite;
  animation: bar 15s linear infinite;
}
@-webkit-keyframes bar {
  0% {
    background-position: 0%;
  }
  100% {
    background-position: 200%;
  }
}
@keyframes bar {
  0% {
    background-position: 0%;
  }
  100% {
    background-position: 200%;
  }
}

.hr.anim:before {
  background: var(--colors-separator-bg-speed);
  background-size: 150px;
  background-position: center;
  z-index: 1;
  -webkit-animation: bar 120s linear infinite;
  animation: bar 120s linear infinite;
}
.hr.anim:hover:before {
  -webkit-animation-duration: 20s;
  animation-duration: 20s;
}
.hr.anim:hover:after {
  -webkit-animation-duration: 2s;
  animation-duration: 2s;
}
