h1 {
  font-family: "Inter", sans-serif;
  font-weight: 600;
  font-size: 48px;
  line-height: 110%;
}

h2 {
  font-family: "Inter", sans-serif;
  font-weight: 500;
  font-size: 40px;
  line-height: 110%;
}

h3 {
  font-family: "Inter", sans-serif;
  font-weight: 500;
  font-size: 32px;
  line-height: 120%;
}

p {
  font-weight: 400;
  font-size: 20px;
  line-height: 170%;
}
