:root[data-theme='dark'] {
  /* Colors Default */
  --color-MenuDefault: #eee;
  --color-MenuOn: #eee;
  --color-b-222: #222;
  --color-border-tech: rgba(75, 75, 75, 0.2);

  --color-w: rgba(33, 33, 33, 1);
  --color-w7: #151515;
  --color-w6: #323232;
  --color-w5: #afafaf;
  --color-w4: #c8c8c8;
  --color-w3: #d2d2d2;
  --color-w2: #e6e6e6;
  --color-w1: #fff;

  --color-b6: #e1e1e1;
  --color-b5: #fff;
  --color-b4: rgba(69, 82, 187, 1);
  --color-b3: rgba(44, 58, 168, 1);
  --color-b2: rgba(37, 46, 118, 1);
  --color-b1: rgba(4, 11, 63, 0.4);

  /* Menu */
  --menu-border: 0px 0px 0px 2px rgba(3, 3, 3, 0.1);
  --line-menu-a: linear-gradient(
    315deg,
    hsla(0, 0%, 10%, 1) 4%,
    hsla(130, 100%, 50%, 1) 28%,
    hsla(130, 100%, 60%, 1) 73%,
    hsla(130, 100%, 20%, 1) 95%
  );
  --line-menu-a-moz: var(--line-menu-a);
  --line-menu-a-webkit: var(--line-menu-a);

  /* Menu Mobile */
  --hMenu-span: rgba(60, 65, 63, 1);
  --M-header: linear-gradient(
    90deg,
    rgba(15, 15, 20, 1) 9%,
    rgba(10, 10, 20, 1) 55%,
    rgba(20, 23, 40, 1) 100%
  );

  /* Separator */
  --colors-separator-bg-speed: linear-gradient(
    90deg,
    #222 0%,
    #222 5%,
    transparent 5%,
    transparent 10%,
    #222 10%,
    #222 15%,
    transparent 15%,
    transparent 20%,
    #222 20%,
    #222 25%,
    transparent 25%,
    transparent 30%,
    #222 30%,
    #222 35%,
    transparent 35%,
    transparent 40%,
    #222 40%,
    #222 45%,
    transparent 45%,
    transparent 50%,
    #222 50%,
    #222 55%,
    transparent 55%,
    transparent 60%,
    #222 60%,
    #222 65%,
    transparent 65%,
    transparent 70%,
    #222 70%,
    #222 75%,
    transparent 75%,
    transparent 80%,
    #222 80%,
    #222 85%,
    transparent 85%,
    transparent 90%,
    #222 90%,
    #222 95%,
    transparent 95%,
    transparent 100%
  );
  --colors-separator-bg: linear-gradient(
    90deg,
    #222 0%,
    #222 50%,
    transparent 50%,
    transparent 100%
  );
  --colors-separator: linear-gradient(
    to right,
    #f06595 5%,
    #ffcb47 15%,
    #62d2a2 25%,
    #00a1e4 35%,
    #d460f7 45%,
    #f06595 55%,
    #ffcb47 65%,
    #62d2a2 75%,
    #00a1e4 85%,
    #d460f7 95%
  );

  /* Home */
  --colors-btn-contact: linear-gradient(
    90deg,
    rgba(15, 19, 39, 1) 9%,
    rgba(10, 10, 45, 1) 55%,
    rgba(25, 32, 70, 1) 100%
  );
  --color-myName-Dark: #3e86f9;

  /* Home Panel */
  --colors-btn-Red-bg: #aa1319;
  --colors-btn-Red-border: #5d1317;

  --colors-btn-Zoom-bg: #008e28;
  --colors-btn-Zoom-border: #04611b;

  --colors-btn-Mini-bg: #d8a700;
  --colors-btn-Mini-border: #7c5e1f;

  --color-text-exitConsole: #e72121;

  /* About Me */
  --aboutMe-bg: rgb(224, 229, 236, 1);
  --boxshadow-aboutMe: rgba(0, 206, 209, 0.4) -5px 0px,
    rgba(0, 206, 209, 0.3) -10px 0px, rgba(0, 206, 209, 0.2) -15px 0px,
    rgba(0, 206, 209, 0.1) -20px 0px, rgba(0, 206, 209, 0.05) -25px 0px;
  --boxshadow-aboutMeImg: rgba(0, 184, 217, 0.24) 0px 8px 16px 0px;

  /* Projects */
  --btn-demo-bg: linear-gradient(
    90deg,
    rgba(18, 18, 42, 1) 10%,
    rgba(23, 25, 53, 1) 50%,
    rgba(25, 30, 58, 1) 100%
  );
  --btn-demo-bg-hover: linear-gradient(
    90deg,
    rgba(18, 18, 42, 1) 100%,
    rgba(23, 25, 53, 1) 20%,
    rgba(25, 30, 58, 1) 10%
  );
  --arrow-bg: #111;
  --color-btn-linkP: #e2e2e2;

  --projects-boxshadow: 5px 0px 0px rgba(150, 150, 255, 1),
    10px 0px 0px rgba(150, 150, 255, 0.7), 15px 0px 0px rgba(150, 150, 255, 0.4),
    20px 0px 0px rgba(150, 150, 255, 0.1);
  /* Slide */
  --controls-boxshadow: rgba(0, 0, 0, 0.4) 0px 2px 4px,
    rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
  --color-project-AniArt: #5f0a0a;
  --slide-li-img: rgba(0, 0, 0, 0.15) 2.4px 2.4px 3.2px;
}
