.copy {
  border-top: rgba(0, 0, 0, 0.3) solid 0.2px;
}

.dados {
  display: flex;
  justify-content: space-between;
  background: var(--color-w);
}

.icons {
  display: flex;
  align-items: center;
  gap: 10px;
}

[data-theme="dark"] .copy p {
  color: #e2e2e2;
}

.author-footer {
  color: var(--color-b3);
}

[data-theme="dark"] .author-footer {
  color: var(--color-b4);
}

.copy p {
  padding: 10px;
  text-align: center;
  align-self: center;
  font-family: "Poppins", monospace;
  font-weight: lighter;
  color: #222;
  font-size: 0.8rem;
}

@media (max-width: 728px) {
  .dados li {
    margin-bottom: 0rem;
  }
}

@media (max-width: 420px) {
  .dados {
    padding: 10px;
  }
  .copy p {
    font-size: 0.4rem;
  }
}

@media (max-width: 328px) {
  .copy img {
    max-width: 24px;
  }
  .copy p {
    font-size: 0.7rem;
  }
}
