* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: 'Poppins', sans-serif;
}

body {
  background-color: var(--color-w);
  transition: background-color 0.5s ease-in-out;
}

body::-webkit-scrollbar {
  width: 12px;
}

body::-webkit-scrollbar-track {
  background: var(--color-w1);
}

body::-webkit-scrollbar-thumb {
  background-color: var(--color-w6);
  border-radius: 20px;
  border: 3px solid var(--color-w1);
}

[data-theme='dark'] body::-webkit-scrollbar-track {
  background: var(--color-w);
}

[data-theme='dark'] body::-webkit-scrollbar-thumb {
  background-color: var(--color-w1);
  border-radius: 20px;
  border: 3px solid var(--color-w);
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

body {
  background-color: var(--color-w);
}

a,
li,
ul {
  text-decoration: none;
  list-style: none;
}

img {
  display: block;
  max-width: 100%;
  aspect-ratio: attr(width) / attr(height);
}

[data-theme='light'] .icon.i-download {
  filter: invert(1) !important;
}

[data-theme='dark'] .icon {
  filter: invert();
}

[data-theme='light'] {
  transition: 2s all;
}

[data-theme='dark'] {
  transition: 2s all;
}
