.cssMenu {
  box-sizing: border-box;
  height: 25px;
  width: 100%;
  background-color: #bbb;
  border-top-right-radius: 5px;
  border-top-left-radius: 5px;
}

[data-theme="dark"] .cssMenu {
  background-color: #444;
}

[data-theme="dark"] .ti-cursor {
  color: var(--color-b6) !important;
}

.btnMenu {
  cursor: pointer;
  margin-bottom: 0.4rem;
  height: 10px;
  width: 10px;
  border-radius: 50%;
  border: 1px solid var(--color-w7);
  position: relative;
  top: 6px;
  left: 6px;
  background-color: var(--colors-btn-Red-bg);
  border-color: var(--colors-btn-Red-border);
  display: inline-block;
}

.btnZoom {
  left: 16px;
  background-color: var(--colors-btn-Zoom-bg);
  border-color: var(--colors-btn-Zoom-border);
}

.btnMini {
  left: 11px;
  background-color: var(--colors-btn-Mini-bg);
  border-color: var(--colors-btn-Mini-border);
}

.cssContainer {
  background-color: var(--color-w7);
  box-sizing: border-box;
  width: 100%;
  padding: 20px;
  padding-top: 5px;
  padding-left: 5px;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}

@media (min-width:1050px) {
  .btn-contact {
    margin-left: 0.625rem;
  }

  .cssContainer,
  .cssMenu {
    width: 23.75rem;
  }
}

[data-theme="dark"] .cssContainer {
  background-color: var(--color-b1);
}

[data-theme="dark"] .cssMenu,
[data-theme="dark"] .cssContainer {
  outline-offset: .1px;
  outline: 0.0625rem solid #9400ff;
}

.css span {
  font-family: "Inconsolata", monospace;
}

.textCode {
  font-size: 1.2rem;
  display: block;
  margin-bottom: 2rem;
  color: var(--color-w1);
}

[data-theme="dark"] .textCode {
  color: var(--color-w1);
}

.loading {
  display: none;
  max-width: 64px;
  margin: 0 auto;
}

.loading.ativo {
  display: block;
}

.textArea {
  display: none;
}

.exit-console {
  color: var(--color-text-exitConsole);
  font-size: 0.8rem;
}

@media (max-width: 426px) {
  .exit-console {
    font-size: 0.7rem;
  }
}

.panelSection {
  display: none;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  transition: transform 1s;
}

.css {
  display: flex;
  flex-direction: column;
}

.broken-line {
  display: none;
  margin: 0 auto;
}

@media (min-width: 900px) {
  .panelSection.ativo {
    display: flex;
    animation: panelFade 0.6s;
    transition: 0.6s;
  }

  .menu a {
    font-size: 1.125rem;
  }
}

@media (max-width: 899px) {
  .panelSection.ativo {
    display: flex;
    transition: 0.6s;
  }
}

@media (max-width: 532px) {
  .panelSection.ativo {
    transition: 0.6s;
    grid-row: 4;
    grid-column: 2;
  }

}

@media (max-width: 420px) {

  .cssMenu,
  .cssContainer {
    width: 260px;
  }
}

@media (max-width: 328px) {
  .panelSection.ativo {
    transition: 0.6s;
    width: 250px;
  }

  .cssMenu,
  .cssContainer {
    width: 220px;
  }

  .exit-console {
    font-size: 0.65rem;
  }

  .textCode {
    font-size: 1rem;
    margin-bottom: 1.5rem;
  }
}