input:-webkit-autofill {
  -webkit-box-shadow: 0 0 0 50px white inset;
  -webkit-text-fill-color: #333;
}

input:-webkit-autofill:focus {
  -webkit-box-shadow: 0 0 0 50px white inset;
  -webkit-text-fill-color: #333;
}

.modal-contact {
  display: none;
  position: fixed;
  z-index: 30000;
  left: 0;
  top: 0;
  width: 100%;
  height: 100vh;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.5);
}

.modal-content {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.modal-contact.ativo {
  display: block;
}

.btnCloseModal {
  cursor: pointer;
  width: 12px;
  height: 12px;
}

.menu-modal {
  box-sizing: border-box;
  position: relative;
  inset: 0;
  background-color: #999;
  height: 30px;
  border-radius: 10px 10px 0 0;
}

.navBtn {
  height: 80px;
}

.btnCloseModal {
  position: absolute;
  cursor: pointer;
  width: 20px;
  height: 20px;
  background-color: var(--colors-btn-Red-bg);
  border-color: var(--colors-btn-Red-border);
  border: 1px solid var(--borderExitButton);
  border-radius: 50%;
  top: 50%;
  transform: translateY(-50%);
  right: 10px;
  transition: background-color 0.5s ease;
}

.btnCloseModal:hover {
  background-color: rgba(232, 12, 15, 1);
}

.menu-modal {
  border-bottom: 0.2px solid #6766;
  background-color: var(--menuTopModal);
}

.divForm,
.menu-modal {
  min-width: 200px;
  width: 100%;
  padding: 20px 40px 20px 40px;
}

.divForm {
  background-color: var(--bgModal);
  border-radius: 0 0 12px 12px;
  box-shadow: 0 3px 4px 0 rgba(0, 0, 0, 0.1), 0 4px 10px 0 rgba(0, 0, 0, 0.1);
}

.item-form input,
.item-form textarea {
  width: 100%;
  font-size: 1rem;
  background-color: var(--bgInputDark);
  color: var(--fontTypeTextInput);
}

.item-form textarea {
  outline: none;
}

.title-modal {
  color: var(--titleModal);
  user-select: none;
  font-weight: 700;
  margin-top: 0px;
}

.subtitle-modal {
  user-select: none;
  color: #888;
}

.main-form {
  margin-top: 15px;
  display: grid;
  grid-template-columns: 220px 220px;
  row-gap: 12px;
  column-gap: 25px;
}

.item-subject {
  grid-column: 1/-1;
}

.item-message {
  grid-column: 1/-1;
}

.item-form {
  position: relative;
  display: flex;
  flex-direction: column;
  margin: 10px 0;
}

.item-email input::placeholder {
  text-indent: 4px;
}

.item-form label {
  transition: 0.4s;
  color: var(--labelColorInput) !important;
}

.item-message label {
  position: absolute;
  z-index: 9999999;
  top: 12%;
  left: 6px;
  transform: translateY(-50%);
  pointer-events: none;
}

.item-email label,
.item-subject label,
.item-name label {
  font-weight: 700;
  position: absolute;
  color: var(--labelInInput);
  z-index: 9999999;
  top: 50%;
  left: 10px;
  transform: translateY(-50%);
}

.item-email input:focus ~ label,
.item-email input:not(:placeholder-shown) ~ label,
.item-name input:focus ~ label,
.item-name input:valid ~ label {
  padding-left: 5px;
  padding-right: 5px;
  left: 5px;
  top: 0;
  font-size: 0.85rem !important;
  background: var(--bgLabelAnimation);
  color: var(--labelInput) !important;
}

.item-subject input:valid ~ label,
.item-subject input:focus ~ label,
.item-subject input:focus-visible ~ label {
  left: 5px;
  padding-left: 5px;
  padding-right: 5px;
  top: 0;
  font-size: 0.85rem !important;
  color: var(--labelInput) !important;
  background: var(--bgLabelAnimation);
}

.item-message textarea:focus ~ label,
.item-message textarea:valid ~ label {
  padding-left: 2px;
  padding-right: 5px;
  top: 0;
  font-size: 0.85rem !important;
  color: var(--labelInput) !important;
  background: var(--bgLabelAnimation);
}

/* .item-name input,
.item-email input,
.item-subject input,
.item-message textarea{
} */

.item-name input,
.item-email input,
.item-subject input {
  outline: none;
  padding: 8px 12px;
  border-radius: 5px;
  min-height: 50px;
  border: solid 1px var(--outLineInputsNormie);
  transition: border 0.5s ease;
}

.item-name input:hover,
.item-email input:hover,
.item-subject input:hover {
  border: solid 1px var(--outlineInputs);
}

.item-name input:focus,
.item-email input:focus,
.item-subject input:focus
{
  border: solid 1px var(--outlineInputs);
}

.item-name input:valid,
.item-email input:not(:placeholder-shown),
.item-subject input:valid {
  border: solid 1px var(--outlineInputs);
}

.textarea-modal {
  padding-left: 5px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
  margin: 0;
  padding-top: 4px;
  vertical-align: -144px;
  border-collapse: collapse;
  transition: border 0.5s ease;
}
.textarea-modal:focus {
  border: solid 0.2px var(--outlineInputs);
}
.textarea-modal:hover {
  border: solid 0.2px var(--outlineInputs);
}
.textarea-modal:valid {
  border: solid 0.2px var(--outlineInputs);
}

label {
  margin-bottom: 3px;
}

.subtitle-modal,
.item-form label {
  font-weight: 400;
}

.textarea-modal {
  padding-top: 10px;
  resize: none;
}

.btn-submit {
  font-size: 1rem;
  grid-column: 1/-1;
  font-weight: 600;
  background-color: var(--btnSubmit);
  border-radius: 8px;
  color: #f3f3f3;
  padding: 12px 10px;
  margin-top: 12px;
  transition: all;
  cursor: pointer;
  transition: all 0.3s ease;
  border: none;
}

.btn-submit:hover {
  background-color: var(--btnSubmitHover);
}

.fadeModal {
  opacity: 0;
  animation: fadeIn 0.5s ease-in-out forwards;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.othersContact {
  user-select: none;
  position: relative;
  margin: 40px 0 20px 0;
  display: flex;
  flex-direction: column;
  row-gap: 20px;
  justify-content: center;
  align-items: center;
}

.orText {
  color: var(--spanTextOr);
}

.orText::after,
.orText::before {
  position: absolute;
  content: '';
  height: 2px;
  width: 24%;
  background-color: var(--lineOthers);
  top: 18%;
}

.orText::before {
  right: 1%;
}

.orText::after {
  left: 1%;
}

.linksContactModal {
  display: flex;
  gap: 0 20px;
}

.linksContactModal img {
  width: 32px !important;
}

@media (max-width: 1200px) {
  .modal-container {
    padding-left: 20px;
    padding-right: 20px;
  }
  .main-form {
    grid-template-columns: 1fr;
  }
}

@media (max-width: 520px) {
  .orText {
    font-size: 14px;
  }
  .orText::after,
  .orText::before {
    width: 20%;
    height: 2px;
    top: 13%;
  }
  .orText::before {
    right: 1%;
  }

  .orText::after {
    left: 1%;
  }
}

@media (max-width: 450px) {
  .modal-container {
    padding-left: 10px;
    padding-right: 10px;
  }

  .othersContact,
  .subtitle-modal,
  .title-modal {
    user-select: none;
  }

  .main-form {
    column-gap: 0px;
  }

  .subtitle-modal {
    font-size: 12px;
  }

  .orText::after,
  .orText::before {
    width: 20%;
  }
  .orText::before {
    right: -8%;
  }

  .orText::after {
    left: -8%;
  }
}

@media (max-width: 430px) {
  .item-form {
    flex-wrap: wrap !important;
  }
}

@media (max-width: 360px) {
  .orText::after,
  .orText::before {
    width: 15%;
  }
  .orText::before {
    right: -12%;
  }

  .orText::after {
    left: -12%;
  }
}


@media (max-height: 850px){
  .title-modal {
    font-size: 1.5rem;
  }

  .divForm{
    padding:10px 20px 10px 20px;
  }

  .main-form{
    row-gap:0px;
    margin-top:5px;
  }

  textarea{
    max-height: 150px !important;
  }

  .item-form input,  .item-form textarea{
    font-size:0.9rem;
  }

  .item-name input, .item-email input, .item-subject input{
    min-height: 40px;
  }

  label{
    font-size: 0.9rem;
  }

  .othersContact{
    margin:25px 0 5px 0;
    row-gap: 10px;
  }
  .orText::before{
    right: -3%;
  }
  .orText::after{
    left:-3%;
  }
  .linksContactModal img{
    width: 24px !important;
  }

  .menu-modal{
    padding:5px 10px 5px 10px;
  }

  .btn-submit{
    padding:8px 4px;
    font-size: 0.75rem;
  }
}